extends layout

block content
  section(id='navHome' class='description')
    canvas(id='canvasIndex')
    div(class='description-text')
     p Hola soy <span>Johnnier Madariaga</span><br> Soy un desarrollador web full-stack.
     a(href='#navAbout' class='description-text-button' id='viewMyWork') View my work
  include sectionsIndex/header

  
