doctype html
html
  head
    title= title
    link(rel='stylesheet', href="stylesheets/style_main.min.css")
  body()
    block content
    include symbol
    script(type="module", src="javascripts/main.js")

