section(id='navAbout' class='about')
  div(class='caption right')
    h2 ABOUT
  div(class='division left')
  div(class='about-information1')
    div(class='about-information1-content')
      div(class='about-information1-content-icon')
        svg(role='img' title='speedometer')
          use(href='#speedometer')
      div(class='about-information1-content-title') Fast
      div(class='about-information1-content-text') Tiempos de carga rápidos e interacción sin demoras, mi máxima prioridad..
    div(class='about-information1-content')
      div(class='about-information1-content-icon')
        svg(role='img' title='responsive')
          use(href='#responsive')
      div(class='about-information1-content-title') Responsive
      div(class='about-information1-content-text') Mis diseños funcionarán en cualquier dispositivo, grande o pequeño.
    div(class='about-information1-content')
      div(class='about-information1-content-icon')
        svg(role='img' title='intuitivo')
          use(href='#intuitive')
      div(class='about-information1-content-title') Intuitive
      div(class='about-information1-content-text') Fuerte preferencia por una UX/UI intuitiva y fácil de usar.
    div(class='about-information1-content')
      div(class='about-information1-content-icon')
        svg(role='img' title='rocket')
          use(href='#rocket')
      div(class='about-information1-content-title') Dynamic
      div(class='about-information1-content-text') Los sitios web no tienen que ser estáticos, me encanta hacer que las páginas cobren vida.


  div(class='about-information2')
    div(class='about-information2-content')
      div(class='about-information2-content-icon')
        div(class='hexagon' id='hexagono2')
      div(class='about-information2-content-title') Quien es este tipo?
      div(class='about-information2-content-text') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum id eos temporibus voluptatem quos quaerat cupiditate recusandae dolorum corrupti maxime quas quae, debitis iure nihil sint. Nihil aliquid ipsa asperiores.
    
    div(class='about-information2-content2' id='skillBarContainer')
include portfolio


