section(id='navBlog' class='blog')
  div(class='caption right')
    h2 Blog
  div(class='division left')
  div(class='blog-grid')
    div(class='blog-grid-item nota1')
        div(class='blog-grid-item-division')
          div
        p(class='blog-grid-item-title') GitHub
        p(class='blog-grid-item-paragraph') Es un sistema de control de versiones diseñado para la eficiencia y confiabilidad del mantenimiento de versiones en un proyecto.
        a(href='https://johimadacor.notion.site/GitHub-de39ba23b03944a895d1b77452c13910' target="_blank" class='blog-grid-item-botton') Saber Mas
    div(class='blog-grid-item nota2')
        div(class='blog-grid-item-division')
          div
        p(class='blog-grid-item-title') Debugging
        p(class='blog-grid-item-paragraph') Es el proceso de encontrar y resolver defectos o problemas dentro de un programa, que impide el funcionamiento correcto del programa o sistema..
        a(href='https://www.notion.so/johimadacor/Debugging-524b456454694af896e53adec8fff954' target="_blank" class='blog-grid-item-botton') Saber Mas
    div(class='blog-grid-item nota3')
        div(class='blog-grid-item-division')
          div
        p(class='blog-grid-item-title') Node.js
        p(class='blog-grid-item-paragraph') Concebido como un tiempo de ejecución de JavaScript asíncrono basado en eventos, Node.js está diseñado para crear aplicaciones de red escalables..
        a(href='https://johimadacor.notion.site/Node-js-74a38b0cedcf4372a6c65089a641dee0' target="_blank" class='blog-grid-item-botton') Saber Mas
    div(class='blog-grid-title')
      p(class='blog-grid-title-text') Writing.
        use(href='#notas')
    div(class='blog-grid-botton')
     a(href='#navHome' class='blog-grid-botton-note') visit my notes
      