section(id='header')
    div(class='nav')
      a(href='#navHome' class='nav-link') Home
      a(href='#navAbout' class='nav-link') About 
      a(href='#navPorfolio' class='nav-link') Portfolio
      a(href='#navBlog' class='nav-link') Blog
      a(href='#navContact' class='nav-link') Contact
include about