section(id='navPorfolio' class='portfolio')
  div(class='caption left')
    h2 projects
  div(class='division right')
  div(class='portfolio-filter')
    div ALL
    div JavaScript
    div React-JS
    div Node.js
  div(id='projects' class='portfolio-projects')
    template(id='TemplateProjects')
      div(class='portfolio-projects-item')
        img(class='portfolio-projects-item-img', alt="")
        div(class='portfolio-projects-item-text')
          p(class='portfolio-projects-item-text-title') Vanilla Game
          p(class='portfolio-projects-item-text-caption') JavaScript | Sass
        div(class='portfolio-projects-item-button') LEARN MORE

include blog
