// font
$fontColorWhite: white;
$fontColorBlack: black;
$fontColorMajor: #3b3d41;

// color
$paleta_color_1: #04c2c9;
$paleta_color_2: #e31b6d;
$paleta_color_3: #1b242f;
$paleta_color_4: rgb(0, 161, 167);

$barra_color: #eeeeee;
$colorSectionNote: #4c3a69;

// measures
$hexagonSize: 220px;
